# --- Web Framework ---
fastapi
uvicorn
pydantic>=1.10

# --- Embeddings ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1
sentence-transformers==2.2.2
transformers==4.25.1
huggingface_hub==0.14.1

numpy==1.24.4
nltk
scikit-learn

# --- Vector DB ---
chromadb==0.4.13

# --- PDF Parsing (optional) ---
PyPDF2

# --- Env Vars ---
python-dotenv
